
* { padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

h3 {
    font-size: 20px!important;
    margin: 0!important; /* Para quitar cualquier margen predeterminado que pueda tener */
}

p {
    font-size: 1.563em; /*17px*/
    margin: 0px!important;
    line-height: 1;
}

a {color: #000!important;}

hr {color: black;}



/*
    ====================
    ====== HEADER ======
    ====================
*/

.bi-arrow-right {font-size: 1.5rem;} 

/* ===== ALERT ======= */

.alert{
    padding: 0!important;
    margin: 0!important;
    display: flex;
    width:100vw;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
   
}

.alert p{
    font: 1em sans-serif;
    display: flex;
    align-items: center;
   }

/* ===== Contenedor Header ======= */

.containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

/* ===== Logo ======= */

.logoHeader{
    display: flex;
    align-items: center;
}
.logoHeader img {height: 100px;}
.logoHeader p {font-weight: 600;}

/* ===== Menu ======= */

.phoneHeader{display: none;}

.menuHeader{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchInput{display: none;}

.searchBtn {
    min-width: 130px;
    height: 40px;
    color: #1a1a1a;
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2a2a2a;
    background: transparent;
    gap: 0.5rem;
}

.searchIcon, .menuIcon{
    font-size: 0.9rem;
    color: #3a3a3a;
}

.menu button{
    padding: 7px 11px;
    background-color: transparent;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
}

.shop{display: none;}

.shop button{
    height: 40px;
    padding: 0px 10px;
    background-color: transparent;
    border-radius: 5px;
}

/*
    ====================
    ====== MAIN ========
    ====================
*/


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    width: 85vw;
    margin: 0 auto;
    
}

/* ====== CATEGORIAS ====== */

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.text {
    display: flex;   
    gap: 10px;
}


.CATALOG{
    color:#000;
    font-weight: bold;
}

.colorSpecial {
    color: #c6c6c6; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.title{
    display: none;
}

.container-category, .infoPersonal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}


/* ==== Linea HR ===== */

.rotated-element{
    transform-origin: left top;
    color:#000;
    width: 100%;
    height: 2px;
    color: #000;
}

/* ==== Contenedor de Categorias ===== */

.container{
    margin: 0!important;
    padding: 0!important;
    min-width: 80vw;
}


.article-category {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#elemento1,#elemento2,#elemento3,
#elemento4,#elemento5{
    padding: 5px;
}

.article-category img {
    height: 100%; /* Rellena el 100% de la altura del contenedor */
    width: auto; /* Permite que el ancho se ajuste automáticamente para mantener la relación de aspecto */
}

.zocalo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category-name {
    flex: 1;
    margin: 0px;
    font-weight: bold;
}

.zocalo .bi-arrow-right {font-size: 2rem;}
.zocalo .bi-arrow-right:hover {transform: scale(1.5,1.5);}

.image-container {
    height: 300px; /* Establece la altura fija deseada */
    width: 100%; /* Permite que el ancho se ajuste automáticamente */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    background-color: rgba(239,244,248,255);
    border: 1px solid #000;
    text-align: center;
    border-radius: 1%;
    border: 2px solid rgba(0,0,0,0.2);    
}

.image-container img {
  /* object-fit: cover; */
  transition: transform 0.3s ease, border 0.3s ease;
}

.image-container:hover {
    border: 2px solid rgba(0,0,0,0.5);
    transform: scale(1.1,1.1);
     z-index: 2; 
    transition: all 0.3s ease;
  }

/*  =========================
    ====== Footer ===========
    =========================
*/
footer {
    background-color:none;
    color: black;
    padding: 20px 0px;
    width: 80vw;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.footer-row {
  display: flex;
  flex-wrap: wrap; /* Permitir envolver elementos en pantallas pequeñas */
  justify-content: center;
  align-items: center;
  padding:1vw 0vw;
}

.footer-row:first-child {
  justify-content: space-between;
  border-bottom: 1px solid #ccc; /* Línea que divide la primera fila de la segunda fila */
}
.footer-row:nth-child(2) {border-bottom: 1px solid #ccc;} /* Línea que divide la primera fila de la segunda fila */


.left, .right{
  display: flex;
  align-items: center;
}

.center-text {display: none;}

.left img {
  width: 40px; /* Ocupa el ancho del <p> */
  height: auto; /* Mantiene la relación de aspecto original */
  margin: 0 10px;
}

.left span, .right span {
  font-weight: bold;
}

.right {
  justify-content: flex-end;
}
.right img {
  height: 30px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* Dividir en 2 columnas de igual ancho */
  gap: 25px; /* Espacio entre los elementos */
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
}

ul li {
  margin: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.link-list li {
  display: inline;
  margin: 10px;
}

.link-list a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  transition: font-weight 0.3s ease;
  
}

.link-list a:hover {
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
  text-decoration: none;
}

.arrow-link img {
  transition: transform 0.3s; 
}

.arrow-link:hover img {
  transform: scale(1.2);
}

/*  =========================
    ====== Media Query ======
    ========================= 
*/

/*---------------Tablet------------- */
@media screen and (min-width:768px) {
    
    .shop{display: block;}/*HEADER*/

    .row #elemento2 .article-category,.row #elemento4 .article-category
    {flex-direction: column-reverse;}

    .title{display:block;}

    .title h2{font-size: 25px;    }

    footer ul {grid-template-columns: repeat(5, 1fr);}/*Footer*/


} 

/* ====== Correccion bootstrap entre 992-1023px ====== */
@media screen and (min-width:992px){
    .row #elemento4 .article-category
    {
    flex-direction: column;
    }   
    .row #elemento5 .article-category{
        flex-direction: column-reverse;
    } 
}

/*--------------- Notebook ------------- */
@media screen and (min-width:1024px) {    
    
    /*HEADER*/
    .phoneHeader{
        display: flex;
        position:absolute;
        left:50%;
        gap:10px;
        transform: translate(-65%);
        align-items: center;
    }

    .phoneHeader a{
        font-size: 18px;
        font-weight: bold;
    }
    
    /*footer*/
    ul {grid-template-columns: repeat(5, 1fr);}
      
    .center-text {
        display: block; /* Mostrar el texto en dispositivos con ancho mayor o igual a 1024px */
        font-size: 15px;
        text-align: center; /* Centrar el texto */
      }
      .footer-row:nth-child(3) {display:none}
    }
   
/*---------------Desktop------------- */
@media screen and (min-width:1200px) {

    /*HEADER*/
    .phoneHeader{
        display: flex;
        position:absolute;
        left:50%;
        gap:30px;
        transform: translate(-60%);
        align-items: center;
    }
    
    ul {grid-template-columns: repeat(10, 1fr);}/*Footer*/
}




  
  